<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" autocomplete="off" novalidate>
      <div class="form-group" [class.error]="isFormFieldEmpty('firstName') || isFormFieldInvalid('firstName')">
        <label for="firstName">First Name:</label>
        <em *ngIf="isFormFieldEmpty('firstName')">Required</em>
        <em *ngIf="isFormFieldInvalid('firstName')">Must start with a letter</em>
        <input
          id="firstName"
          type="text"
          class="form-control"
          placeholder="First Name..."
          formControlName="firstName"
        />
      </div>
      <div class="form-group" [class.error]="isFormFieldEmpty('lastName')">
        <label for="lastName">Last Name:</label>
        <em *ngIf="isFormFieldEmpty('lastName')">Required</em>
        <input
          id="lastName"
          type="text"
          class="form-control"
          placeholder="Last Name..."
          formControlName="lastName"
        />
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
    </form>
  </div>
</div>